@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Montserrat;
  background-color: #111;
  color: #fff
}


